<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import { onMounted } from "vue";
const customerStore = useCustomerStore();
onMounted(async () => {
  await customerStore.getCustomer();
});
</script>
<template>
  <v-btn>Add New </v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tel</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of customerStore.customer" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.tel }}</td>
        <td><v-btn class="mr-5">Edit</v-btn><v-btn>Delete</v-btn></td>
      </tr>
    </tbody>
  </v-table>
</template>
